.git
.github
.venv
.DS_Store

apps/web/node_modules
apps/api/.pytest_cache
apps/api/logs
apps/api/models
apps/api/volumes
apps/api/tests
apps/api/uv.lock
apps/api/*.egg-info

packages/model/.pytest_cache
packages/model/tests
packages/model/*.egg-info

submission
docs
data

**/__pycache__
**/.DS_Store
